@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
label {
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  max-width: 1920px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font: 16px/1.5rem 'Open Sans', Arial, 'Times New Roman', Helvetica, sans-serif;
}

body img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #5CB85C;
}

/* Atomic */

.green {
  color: #5CB85C;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.yellow {
  color: #ec971f;
}

.stars-rate {
  color: #ec971f !important;
}

.overflow-a {
  overflow: auto;
}

.fa.fa-check {
  color: #5CB85C;
}

.fa.fa-thumbs-down {
  color: #FA9090;
}

.fa.fa-handshake-o {
  color: #EE960B;
}

.fa.fa-plus-circle {
  color: #5CB85C;
}

.fa.fa-minus-circle {
  color: #FA9090;
}

.fa.fa-bank {
  color: #5bc0de;
}

.fa.fa-money {
  color: #5CB85C;
}

.fa.fa-balance-scale {
  color: #ec971f;
}

.fa.fa-line-chart {
  color: #5CB85C;
}

i.fa {
  margin: 0 5px;
}

.d-n {
  display: none !important;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.opacity {
  opacity: 0 !important;
}

.cur-p {
  cursor: pointer;
}

.td-u {
  text-decoration: underline;
}

.td-n {
  text-decoration: none;
}

.td-n:hover {
  text-decoration: none;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.no-opacity {
  opacity: 0;
}

.bought {
  background-color: rgba(88, 228, 18, 0.5);
}

.border-system {
  border: #553CF0 solid #000;
  border: 1px solid #553CF0;
  border-top-width: 4px;
  border-bottom-width: 2px;
  border-radius: 5px;
}

.border-system-funcs {
  border: #5CB85C solid #000;
  border: 1px solid #5CB85C;
  border-top-width: 4px;
  border-bottom-width: 2px;
  border-radius: 5px;
}

.flex-set {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rotation {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bg-success {
  background-color: #B3FEBA;
}

.bg-warning {
  background-color: #F9F498;
}

/* Old styles - needed to refact*/

a {
  color: #000;
  text-decoration: none;
}

a.logotype__a:hover {
  text-decoration: none;
  color: #000;
}

.d-header {
  height: 65px;
}

.d-button {
  cursor: pointer;
}

.d-header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 10px;
}

.form-group {
  margin-bottom: 0;
}

.d-search {
  position: relative;
  -webkit-flex-basis: 350px;
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
}

.d-search button {
  width: 39px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.d-search input {
  padding-right: 39px;
}

nav.d-nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav.d-nav-menu .d-reg {
  margin-right: 20px;
  position: relative;
}

nav.d-nav-menu .d-reg:after {
  display: block;
  content: '99+';
  color: red;
  position: absolute;
  font-size: 12px;
  top: -12px;
  left: 20px;
  font-weight: bold;
}

nav.d-nav-menu span {
  margin-left: 10px;
}

nav.d-nav-menu i.fa {
  font-size: 20px;
}

section.d-slider {
  padding: 100px 10px;
}

.d-slider .container {
  padding: 0 30px;
  position: relative;
}

.d-slider i.fa {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}

.d-slider i.fa.fa-angle-left {
  left: 20px;
  z-index: 5000;
}

.d-slider i.fa.fa-angle-right {
  right: -10px;
  z-index: 5000;
}

.d-slider .d-slide {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  height: 100px;
  cursor: pointer;
  margin-left: 30px;
  background-color: #CCCCCC;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.d-slider .d-slide_future {
  background-color: #EDECEC;
  color: #B0B0B0;
}

.d-slide_future:after {
  content: 'Скоро появится';
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.slick-current {
  background-color: #ec971f !important;
  color: #fff !important;
}

.slick-current.d-slide_future {
  background-color: #777 !important;
}

.main-buttons .container {
  text-align: center;
}

.main-buttons .btn {
  font-size: 32px;
  padding: 20px 50px;
  width: 300px;
}

.main-buttons .btn.btn-success {
  margin-right: 32px;
}

.box-shadow-bottom {
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

footer.footer-page {
  /*position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
  padding-top: 30px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.d-copyright-container {
  padding: 20px 0;
  text-align: center;
}

.d-copyright-container p {
  margin: 0;
}

.d-faq {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.d-q {
  margin: 5px 15px;
}

.prefooter .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.prefooter .d-logo {
  padding: 0 30px;
}

.d-faq-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 170px;
}

.d-faq-container p {
  width: 300px;
  background-color: #fff;
}

/* End old styles */

header.d-header .d-logo a {
  display: block;
  width: 50px;
  position: relative;
  bottom: 8px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

header.d-header .d-logo a:hover {
  -webkit-transform: rotate(360deg) scale(2) translateY(20px);
  -moz-transform: rotate(360deg) scale(2) translateY(20px);
  -ms-transform: rotate(360deg) scale(2) translateY(20px);
  -o-transform: rotate(360deg) scale(2) translateY(20px);
  transform: rotate(360deg) scale(2) translateY(20px);
}

header.d-header .dohod {
  font-size: 12px;
  margin-top: 3px;
}

header.d-header .dohod i.fa {
  position: relative;
  top: 2px;
}

header.d-header .dohod span {
  font-weight: bold;
}

header.d-header nav.d-nav-menu {
  text-align: center;
}

header.d-header nav.hamburger {
  display: none;
  position: relative;
}

header.d-header nav.hamburger:after {
  display: block;
  content: '99+';
  color: red;
  position: absolute;
  font-size: 12px;
  top: -10px;
  right: -10px;
  font-weight: bold;
}

header.d-header nav.hamburger i.fa {
  color: #553CF0;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

header.d-header nav.hamburger i.fa:hover {
  color: #5CB85C;
}

.index_links {
  padding: 30px 10px;
}

.main_screen {
  padding: 0px 0 50px;
}

.main_screen h3 {
  padding: 20px 0;
}

.small_window {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.small_window form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  max-height: 400px;
}

.small_window form .forms {
  margin: 20px 0;
  max-width: 400px;
}

.small_window form .forms label {
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.small_window form button {
  margin: 20px 10px 20px 0;
}

.small_window form a + a {
  margin-left: 10px;
}

.small_window form.reg input[type="checkbox"] {
  position: relative;
  z-index: 1;
  top: 7px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.small_window form.reg span.td-u {
  margin-top: 5px;
}

.small_window form.reg button {
  margin-top: 45px;
}

.table_output {
  padding: 10px;
}

.table_output.table_in_cart {
  max-width: 90%;
  margin: 20px auto;
}

.table_output.table_in_cart footer {
  margin-top: 20px;
}

.table_output.table_stol_order table {
  height: 100px;
}

.table_output.table_stol_order table thead {
  height: 100px !important;
}

.table_output.table_stol_order table tbody tr:hover {
  background-color: #f9f9f9 !important;
  color: #000 !important;
}

.table_output.table_stol_order .table_container {
  padding-top: 30px;
}

.table_output p {
  color: #069F35;
}

.table_output p.white {
  color: #000;
}

.table_output p span {
  font-weight: bold;
}

.table_output header.table_output__header {
  display: inline-block;
  vertical-align: middle;
}

.table_output button.buttons_func,
.table_output .buttons_func {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
  margin-top: 7px;
  margin-bottom: 10px;
  min-width: 170px;
  max-width: 70%;
}

.table_output button.buttons_func i.fa,
.table_output .buttons_func i.fa {
  margin-left: 5px;
}

.table_output .table_container {
  padding-top: 30px;
  overflow: auto;
  max-height: 400px;
  -ms-overflow-style: none;
}

.table_output .table_container::-webkit-scrollbar {
  width: 0;
}

.table_output .table_container thead {
  height: 95px;
  background-color: rgba(92, 184, 107, 0.7);
  color: #fff;
  z-index: 1000;
}

.table_output .table_container thead label.d-b input {
  position: relative;
  top: 2px;
  left: 5px;
}

.table_output .table_container table {
  font-size: 14px;
}

.table_output .table_container table .form-control {
  margin-bottom: 5px;
}

.table_output .table_container table button.show_contacts {
  margin-top: 10px;
}

.table_output .table_container table td {
  padding: 5px;
  min-width: 160px;
  overflow: auto;
  vertical-align: middle !important;
  text-align: center;
}

.table_output .table_container table td label {
  font-weight: normal;
  cursor: pointer;
}

.table_output .table_container table td span.dekor {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #9C2B2B;
  margin-left: 5px;
}

.table_output .table_container table td input[placeholder] {
  width: 40%;
  float: left;
}

.table_output .table_container table td input + input {
  margin-left: 20%;
}

.table_output .table_container table tbody tr:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
  margin: 5px;
}

.table_output .for-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.table_output .for-pagination .pagination {
  margin: 10px 0;
}

.table_output .for-pagination .pagination-pages {
  margin-left: 30px;
}

.table_output .for-pagination .quantity-per-page {
  margin-right: 30px;
}

.table_output .for-pagination h4 {
  color: #5CB85C;
}

.table_output .for-pagination ul {
  display: inline-block;
}

.table_output .hide_me {
  overflow: hidden;
  min-width: auto !important;
  width: 15px !important;
  font-size: 0;
  background-color: #777;
}

.table_output .hide_me > * {
  display: none;
}

.table_output .hide_me label:last-child {
  display: block !important;
}

.table_output .hide_me label:last-child .fa {
  font-size: 10px;
  display: block !important;
}

.order_table__header {
  padding: 30px 10px 0;
  margin-bottom: 0 !important;
}

.table_more_info {
  font-size: 14px;
}

.table_more_info .table_container {
  padding: 0 10px 10px !important;
  margin-bottom: 20px;
}

.table_more_info thead {
  background-color: rgba(92, 184, 107, 0.7);
  color: #fff;
}

.table_more_info thead tr {
  height: 95px;
}

.table_more_info tr {
  height: 50px;
}

.table-general {
  padding: 30px 10px;
  overflow: auto;
  max-height: 400px;
  -ms-overflow-style: none;
}

.table-general_smallpadding {
  padding: 10px;
}

.table-general__table {
  font-size: 14px;
  font-weight: normal;
}

.table-general__thead {
  background-color: rgba(92, 184, 107, 0.7);
  color: #fff;
}

.table-general__tr_head {
  height: 95px;
}

.table-general__td {
  vertical-align: middle !important;
  text-align: center !important;
}

.table-general__forms {
  display: block;
  margin: 5px auto;
  min-width: 160px;
  max-width: 95%;
}

.for-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.for-pagination .pagination {
  margin: 10px 0;
}

.for-pagination .pagination-pages {
  margin-left: 30px;
}

.for-pagination .quantity-per-page {
  margin-right: 30px;
}

.for-pagination h4 {
  color: #5CB85C;
}

.for-pagination ul {
  display: inline-block;
}

.main-window {
  margin: 10px 0;
  padding: 30px 0;
}

.main-window .container .screen_info {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.main-window .container .screen_info form {
  display: inline-block;
  text-align: left;
  padding: 10px 5px;
}

.main-window .container .screen_info form h3 {
  color: #000;
}

.main-window .container .screen_info form .forms {
  margin: 20px 0;
  max-width: 400px;
}

.main-window .container .screen_info form .forms label {
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-window .container .screen_info form button {
  margin: 20px 10px 20px 0;
}

.main-window .container .screen_info form a + a {
  margin-left: 10px;
}

.form_filters {
  padding: 50px 5%;
  text-align: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form_filters .forms.first_option {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form_filters .forms.first_option .first_option__labels {
  width: 45%;
}

.form_filters .forms.first_option .first_option__labels .add_store {
  position: relative;
  bottom: 3px;
  margin-left: 20px;
}

.form_filters .forms.first_option select.form-control {
  width: auto;
  margin-left: 10px;
}

.form_filters .container_row {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px;
}

.form_filters .container_row button.btn {
  min-width: 30%;
  margin-left: 20%;
  margin-top: auto;
  width: 60%;
}

.form_filters .container_row .forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form_filters .container_row .forms.two_inputs input {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.form_filters .container_row .forms + .forms {
  margin-top: 20px;
}

.form_filters .container_row input,
.form_filters .container_row select {
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.form_filters .container_row label {
  cursor: pointer;
  display: inline;
  text-align: left;
  line-height: 20px;
  max-width: 42%;
}

.form_filters .container_row input {
  -webkit-flex-basis: 52%;
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.form_filters .container_row input[placeholder="От"] {
  margin-left: auto;
  margin-right: 10px;
}

.form_filters .container_row input[min] {
  -webkit-flex-basis: 52%;
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.form_filters .container_row select {
  -webkit-flex-basis: 52%;
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.form_filters .container_row label.filters_location + select {
  margin-bottom: 10px;
}

.form_filters .container_row label.filters_location + select + select {
  margin-bottom: 10px;
  margin-left: auto;
}

.form_filters .container_row label.filters_location + select + select + select {
  margin-left: auto;
}

.form_filters .container_row.row2 {
  margin-left: 5%;
}

.work-space {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-space nav.user-menu {
  padding: 20px 40px 20px 0;
  border-right: 1px solid #E6E6E4;
  -webkit-padding-start: 0 !important;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  min-width: 222px;
}

.work-space nav.user-menu a.logout {
  margin: 30px 5px;
  color: #000;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

.work-space nav.user-menu a.logout:hover {
  color: #553CF0;
}

.work-space nav.user-menu li {
  width: 100%;
  position: relative;
  /*a.active_menu{
				color: #fff;
				background-color: @color_second;
			}*/
}

.work-space nav.user-menu li.active_menu,
.work-space nav.user-menu li:hover {
  background-color: #553CF0;
}

.work-space nav.user-menu li.active_menu:before,
.work-space nav.user-menu li:hover:before,
.work-space nav.user-menu li.active_menu:after,
.work-space nav.user-menu li:hover:after {
  display: block;
}

.work-space nav.user-menu li.active_menu a,
.work-space nav.user-menu li:hover a {
  color: #fff;
}

.work-space nav.user-menu li:before,
.work-space nav.user-menu li:after {
  content: '';
  display: none;
  position: absolute;
  width: 40px;
  background-color: #553CF0;
  height: 100%;
  top: 0;
}

.work-space nav.user-menu li:before {
  left: -40px;
}

.work-space nav.user-menu li:after {
  right: -40px;
}

.work-space nav.user-menu li + li {
  margin-top: 20px;
}

.work-space nav.user-menu li a {
  text-align: left;
  width: 100%;
  display: block;
  font-size: 16px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.work-space nav.user-menu li a.btn.btn-default {
  border: none;
  border-radius: 0;
  /*&:hover{
						color: #fff;
						background-color: @color_second;
					}*/
}

.work-space main.main-content {
  padding: 30px 20px;
  width: 80%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.work-space main.main-content .d-slider i.fa.fa-angle-left {
  left: 50px;
}

.work-space main.main-content .d-slider i.fa.fa-angle-right {
  right: 20px;
}

.work-space main.main-content .container {
  width: 100% !important;
  padding: 0 50px;
}

.text_information_block {
  padding: 20px;
  max-width: 90%;
  margin: 10px auto;
  border-radius: 5px;
}

.balance_table {
  margin-top: 30px;
  overflow: auto;
}

.balance_table table {
  vertical-align: middle;
  text-align: center;
  color: white;
}

.balance_table thead {
  background-color: #5CB85C;
  vertical-align: middle;
  opacity: 0.8;
  text-align: center;
  font-size: 21px;
}

.balance_table thead th {
  text-align: center;
}

.balance_table tr {
  height: 50px;
}

.balance_table td {
  color: #000;
  font-size: 21px;
}

.balance_table.balance_table_long th {
  min-width: 160px;
  font-size: 18px;
}

.table__thead thead {
  background-color: #5CB85C;
  opacity: 0.8;
  font-size: 21px;
}

.table__thead th {
  text-align: center;
}

.table__thead tr {
  height: 30px;
}

.statistic form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.statistic form button {
  margin: 20px;
  min-width: auto !important;
}

.statistic form select {
  min-width: 150px;
  width: auto;
  margin-left: 10px;
}

.screen_info.status.stat {
  margin-top: 30px;
}

.screen_info.status.stat h3,
.screen_info.status.stat p {
  display: block;
}

.screen_info.settings,
.screen_info.status {
  padding: 30px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.screen_info.settings section.section_settings,
.screen_info.status section.section_settings,
.screen_info.settings section.info_section,
.screen_info.status section.info_section {
  padding: 20px;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  min-width: 300px;
  max-width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.screen_info.settings section.section_settings h2 {
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}

.screen_info.settings section.section_settings h2 i.fa {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
}

.screen_info.settings section.section_settings hr {
  border-top-width: 2px;
  border-top-color: #888787;
}

.screen_info.settings section.section_settings.set_balance label {
  display: block;
  margin-left: 5px;
}

.screen_info.settings section.section_settings.set_balance label input {
  margin-right: 5px;
}

.screen_info.settings section.section_settings .forms {
  line-height: 2.4rem;
}

.screen_info.settings section.section_settings .forms + .forms {
  margin-top: 20px;
}

.screen_info.settings section.section_settings .forms button {
  min-width: 40%;
}

.screen_info.settings section.section_settings .forms button + button {
  margin-left: 10%;
}

.screen_info.settings section.section_settings .forms input[type=checkbox],
.screen_info.settings section.section_settings .forms input[type=radio] {
  display: inline;
  margin-left: 5px;
  margin-top: 10px;
  position: relative;
  top: 3px;
  z-index: 5000;
  width: 15px;
  height: 15px;
}

.screen_info.settings section.section_settings button {
  margin-top: 20px;
}

.screen_info.status {
  text-align: center;
}

.screen_info.status h3 {
  font-weight: bold;
  display: inline-block;
}

.screen_info.status p {
  display: inline-block;
}

.screen_info.status section.your_status > * {
  display: block;
}

.screen_info.status section.your_status h3 {
  text-align: center;
}

.screen_info.status section.your_status p {
  margin: 10px auto;
  border: 1px solid #553CF0;
  padding: 5px;
  border-radius: 4px;
}

.screen_info.status section.your_status p.status__current {
  background-color: #553CF0;
  color: #fff;
}

.screen_info.status section.your_status p.status__manager {
  width: 50%;
}

.screen_info.status section.border-system-funcs {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 20px auto;
}

.screen_info.status section.border-system-funcs h2 {
  margin-bottom: 20px;
}

.screen_info.status section.border-system-funcs p {
  margin-bottom: 20px;
  margin-left: 10px;
}

.screen_info.status section.border-system-funcs button {
  margin: 10px 10px;
}

.screen_info.status section.border-system-funcs .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.screen_info.status section.border-system-funcs .buttons button {
  min-width: 40%;
}

.screen_info.status section.border-system-funcs .buttons button + button {
  margin-left: 10px;
}

footer.footer-page .container {
  overflow: auto;
}

/* Agent cabinets */

.notification_not_empty {
  position: relative;
}

.notification_not_empty:after {
  display: block;
  content: '99+';
  color: red;
  position: absolute;
  font-size: 12px;
  top: 3px;
  left: -10px;
  font-weight: bold;
}

.notification {
  padding: 25px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.notification:hover .notification__icon_close {
  opacity: 1;
}

.notification__text {
  margin: 10px 20px;
  width: 40%;
}

.notification__h {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.notification__icon_close {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  color: #553CF0;
  cursor: pointer;
}

.notification__action {
  display: block;
  margin: 10px auto;
  min-width: 170px;
  width: 200px;
  max-width: 70%;
}

.main-content__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.main-content__header_nomargin {
  margin-bottom: 0;
}

.main-content__header_bordered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.main-content__p {
  margin-top: 20px;
}

.main-content__h {
  margin: 0;
}

.main-content__link {
  margin: 10px;
}

.main-content__form {
  width: 100%;
  margin-top: 20px;
}

.main-content__form_inline {
  width: auto;
  display: inline-block;
}

.main-content__input {
  display: inline-block;
}

.main-content__input_select {
  display: inline-block;
  width: 160px;
  margin-left: 20px;
}

.main-content__link,
.main-content__button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  min-width: 170px;
  max-width: 70%;
}

.main-content__link i.fa,
.main-content__button i.fa {
  margin-left: 5px;
}

.main-content__footer {
  margin-top: 20px;
}

.main-content__block-button {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-content__block-button button {
  min-width: 120px;
}

.main-content__block-button button + button {
  margin-left: 50px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-block {
  padding: 20px 10px;
  width: 50%;
  margin: 0 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-block_full-width {
  width: 60%;
  padding: 20px 10px;
}

.single-block_full-width .single-block__h2 {
  margin-left: 25%;
  text-align: left;
}

.single-block_full-width button {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.single-block__h2 {
  text-align: center;
}

.single-block__p {
  width: 100%;
  min-height: 75px;
  margin: 10px;
}

.single-block__button {
  margin-top: auto;
  max-width: 75%;
}

.form-search {
  position: relative;
  z-index: 1;
  width: 300px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 170px;
  max-width: 70%;
}

.form-search__input {
  padding-right: 45px;
}

.form-search__submit {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
}

.form-search i.fa.fa-search {
  margin: 0;
}

/*  */

section.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5000;
  padding: 0 5%;
}

.modal__main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 5px;
  max-width: 90%;
  z-index: 5001;
  background-color: #fff;
}

.modal__main.full {
  width: 95%;
  height: 100%;
  padding: 5px;
}

i.fa.closer {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
  z-index: 5002;
}

i.fa.closer:hover {
  color: #553CF0;
}

.modal__content {
  overflow-y: scroll;
  max-height: 100vh !important;
  display: none;
  padding: 20px 10px;
}

.modal__content_target {
  display: none;
}

.modal__content.active {
  display: block;
}

.modal__content table {
  margin-top: 10px;
}

.modal__content.vote {
  width: 600px;
  text-align: center;
  max-width: 90%;
}

.modal__content.vote menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__content.vote button {
  margin-top: 10px;
}

.modal__content.graph {
  width: 95%;
}

.modal__content.rating {
  width: 500px;
}

.modal__content.rating h4 {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

.modal__content.rating table td {
  vertical-align: middle !important;
  text-align: center;
}

.modal__content.store {
  overflow: auto;
}

.modal__content.store h3 {
  margin-bottom: 30px;
}

.modal__content.store form .forms + .forms {
  margin-top: 20px;
}

.modal__content.store form .forms button {
  width: 70%;
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.modal__content.filters {
  height: 100vh;
}

.modal__content.filters form {
  overflow-y: scroll !important;
}

.modal__content.pay_balance,
.modal__content.show_history_pay {
  min-width: 90%;
  max-width: 1000px;
}

.modal__content.pay_balance .form-control,
.modal__content.show_history_pay .form-control {
  margin-top: 10px;
}

.modal__content.pay_balance button,
.modal__content.show_history_pay button {
  margin-top: 30px;
}

.modal__content.more_contacts h3 {
  margin-bottom: 20px;
}

.modal__content.more_contacts ul {
  margin-top: 10px;
}

.modal__content.more_contacts ul a:hover {
  color: #553CF0;
}

.modal__content.more_contacts ul li {
  list-style: none;
}

.modal__content.more_contacts ul li:hover {
  color: #553CF0;
}

.modal__content.more_contacts ul li + li {
  margin-top: 10px;
}

.modal__content.report header {
  margin-top: -25px;
}

.modal__content.report h3 {
  margin-bottom: 20px;
}

.modal__content.report form {
  max-height: 500px;
  overflow: auto;
}

.modal__content.report form label {
  display: block;
}

.modal__content.report form label + label {
  margin-top: 10px;
}

.modal__content.report form label:last-child {
  margin-bottom: 10px;
}

.modal__content.report form input,
.modal__content.report form select {
  width: auto;
  height: auto;
  margin-right: 5px;
  display: inline-block;
}

.modal__content.report form textarea {
  margin: 10px 0 20px;
}

.modal__content.report form .textarea_good {
  margin-top: 20px;
}

.modal__content.report form .forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal__content.report form .forms + .forms {
  margin-top: 20px;
}

.modal__content.report form .forms label.form-label {
  width: 170px;
}

.modal__content.report form .forms .radio-group {
  margin-right: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 115px;
  padding-left: 5px;
}

.modal__content.report form .forms .radio-group label {
  position: relative;
  width: 20px;
  height: 20px;
}

.modal__content.report form .forms .radio-group label i.fa {
  margin: 0;
  z-index: 5000;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
  font-size: 20px;
}

.modal__content.report form .forms .radio-group label + label {
  margin: 0;
}

.modal__content.report form .forms .radio-group label input {
  width: 20px;
  height: 20px;
  z-index: 5001;
  opacity: 0;
}

.modal__content.report form .forms .radio-group label input:checked + i.fa.fa-star,
.modal__content.report form .forms .radio-group label input:hover + i.fa.fa-star {
  color: #ec971f;
}

.modal__content.report form .forms .radio-group label input,
.modal__content.report form .forms .radio-group label input i {
  margin: 0 !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100%;
}

.text-abuse {
  margin-top: 20px;
}

.text-abuse__container {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.text-abuse__article {
  margin-top: 10px;
  color: #000;
}

.text-abuse__p_text {
  margin-bottom: 10px !important;
}

.new-message {
  width: 600px;
  max-width: 95%;
}

.new-message__field {
  margin-top: 20px;
}

.new-message__input_select {
  margin-top: 10px;
}

.new-message__label {
  margin-bottom: 5px;
}

.chat-message {
  width: 600px;
  max-width: 95%;
  margin: 0 auto;
}

.chat-message__header {
  text-align: left;
}

.chat-message__span {
  font-weight: bold;
  color: #000;
}

.chat-message__container {
  width: 95%;
  margin: 20px auto 0;
  padding: 10px;
  overflow: auto;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat-message__message {
  margin: 10px;
  padding: 10px 15px;
  width: 70%;
  border-radius: 4px;
}

.chat-message__message_incoming {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: rgba(85, 60, 240, 0.3);
}

.chat-message__message_incoming h4 {
  text-align: left;
}

.chat-message__message_sent {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: rgba(92, 184, 92, 0.3);
}

.chat-message__message_sent h4 {
  text-align: right;
}

.chat-message__author {
  font-weight: bold;
}

.chat-message__author_you {
  text-transform: uppercase;
  font-size: 20px;
}

.chat-message__info {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}

.chat-message__form {
  position: relative;
}

.chat-message__textfield {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  resize: none;
  margin-top: 10px;
  padding-right: 80px;
}

.chat-message__button {
  width: 66px;
  height: 66px;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat-message__button i.fa {
  position: relative;
  right: 5px;
}

textarea {
  resize: none;
}

/*      ------======| ADMIN |======------      */

.category-list {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.category-list__onecategory {
  padding: 20px 10px;
  border-radius: 4px;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: -webkit-calc(25% - 30px);
  width: -moz-calc(25% - 30px);
  width: calc(25% - 30px);
}

.category-list__h {
  text-align: left;
  margin-bottom: 20px;
}

.category-list__button {
  margin: 10px auto;
  display: block;
  width: 95%;
}

.new-category__form {
  display: block !important;
}

.new-category__field {
  margin: 20px 10px;
}

.new-category__label {
  margin-bottom: 10px;
}

.new-category__checkbox {
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
  top: 3px;
}

.template-create {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.field-set_header {
  margin-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-set_header select {
  width: auto;
  margin: 10px;
}

.block-values {
  position: relative;
  z-index: 5;
}

.block-values .fa.fa-times {
  opacity: 0;
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.block-values__ul {
  width: 95%;
  margin: 10px auto;
  border: 1px solid #777;
  border-radius: 4px;
  height: 300px;
  overflow: auto;
}

.block-values__li {
  cursor: pointer;
}

.block-values__li:hover .fa.fa-times {
  color: red;
  opacity: 0.9;
  z-index: 10;
}

.change_mod_template {
  width: auto !important;
}

.template-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
}

.template-name__label {
  width: 100%;
  margin: 10px;
}

.template-name__input {
  margin: 10px;
}

.mainf-menu {
  padding: 20px 40px;
  border-right: 1px solid #E6E6E4;
  width: 20%;
  min-width: 222px;
}

.mainf-menu__li {
  width: 100%;
  background-color: #553CF0;
}

.block-filters {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.block-filters__h {
  margin: 10px;
}

.block-filters__control {
  width: auto;
  margin: 10px 10px 10px 30px;
}

.block-filters__control_select {
  width: 15%;
  min-width: 100px;
}

.tree {
  padding: 20px 10px;
  overflow: auto;
  max-height: 1000px;
}

.tree__person {
  width: 100%;
  cursor: pointer;
}

.tree__person_child {
  width: 97%;
  margin-left: 3%;
  position: relative;
  margin-top: 10px;
}

.tree__person_child:before,
.tree__person_child:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #777;
  left: -16px;
}

.tree__person_child:before {
  height: 30px;
  width: 1px;
  top: -10px;
}

.tree__person_child:after {
  width: 15px;
  height: 1px;
  top: 19px;
}

.tree__head {
  padding: 5px 10px;
  border: 1px solid #777;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tree__control {
  margin: 5px 10px;
}

.tree__control_selector {
  margin-left: 5%;
}

.tree__control_user {
  margin-left: 10%;
}

.tree__control_funcs {
  margin-left: auto;
}

.tree__inputs_checkbox {
  width: 15px;
  height: 15px;
}

.tree__icon {
  margin: 5px 15px !important;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.tree__icon:hover {
  color: #553CF0;
}

.tree__icon_eye {
  color: #FEA735;
}

.tree__icon_menu {
  color: #279405;
}

.tree__icon_ban {
  color: #FD1711;
}

.tree__span {
  margin-left: 10px;
  margin-right: 10px;
}

.tree__span_status {
  font-weight: bold;
  text-transform: uppercase;
}

.see-user {
  width: 100%;
  padding: 30px 10px;
}

.see-user__h {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #553CF0;
}

.see-user__span {
  margin-left: 10px;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

.see-user__link {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #553CF0;
}

.see-user__more {
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px;
  color: #000000;
  background-color: #F9F498;
}

.see-user__more li {
  margin-top: 10px;
}

.see-user__ul {
  margin-top: 10px;
}

.see-user__li {
  margin-top: 10px;
}

.see-user__label_text {
  margin: 5px;
  color: #000000;
  font-weight: bold;
}

.see-user__button {
  display: block;
  width: 500px;
  margin: 20px auto;
  max-width: 90%;
}

.scroll-controlls {
  overflow: auto;
  height: 90px;
}

.managment_main {
  text-align: center;
}

.managment__header {
  border-bottom: 1px solid #777;
  padding: 5px;
}

.managment__h {
  font-weight: bold;
  font-style: 25px;
  margin: 10px 0;
}

.managment__h_h4 {
  font-size: 22px;
  font-weight: bold;
}

.managment__desc {
  padding: 20px 10px;
  font-size: 20px;
  line-height: 1.05;
}

.managment__article {
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  min-width: 150px;
  max-width: 100%;
}

.managment__article_header {
  width: 100%;
  text-align: left;
}

.managment__button {
  margin: 10px;
}

.managment__button_control {
  min-width: 200px;
}

.managment__button_active {
  padding: 6px 12px;
  border: 1px solid transparent !important;
  text-decoration: none !important;
  color: #fff !important;
  background-color: #553CF0 !important;
}

.managment__button_active:hover,
.managment__button_active:active,
.managment__button_active:focus {
  background-color: #553CF0 !important;
}

.managment__button_link {
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #553CF0;
}

.managment__button_link:hover,
.managment__button_link:active,
.managment__button_link:focus {
  background-color: #553CF0;
  color: #fff;
  text-decoration: none;
}

.managment__line {
  border-color: #777;
}

.managment__field {
  margin: 20px 0;
}

.managment__label {
  margin: 10px;
  font-weight: bold;
}

.managment__input {
  margin: 10px;
}

.managment__input_radio,
.managment__input_checkbox {
  margin: 5px !important;
  border: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.managment__input_textarea {
  width: 90%;
  padding: 5px 10px;
}

.managment__input_input {
  width: 90%;
}

.managment__input_number {
  max-width: 200px !important;
}

.managment__input_select {
  display: inline-block;
  width: auto;
}

.managment__footer {
  margin-top: 30px;
}

.managment_refs {
  padding-top: 20px;
}

.select-list {
  padding: 10px;
}

.select-list__alert {
  text-align: left;
  width: 75%;
  margin: 10px auto;
  height: 200px;
  overflow: auto;
}

.select-list__li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

.select-list__li button {
  color: #000;
}

.select-list__li_choose span,
.select-list__li_choose button,
.select-list__li:hover span,
.select-list__li:hover button {
  font-weight: bold;
  color: #fff;
  background-color: #553CF0;
}

.select-list__span {
  padding: 5px 10px;
}

.block {
  margin: 10px;
  padding: 5px;
}

.modal__content .managment_statistic .table_output__header {
  display: block !important;
}

/* PRE_REG */

.pre-head {
  padding: 20px 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pre-head__img {
  margin-right: 20px;
}

.pre-head__h {
  margin-left: 20px;
  text-transform: uppercase;
  color: #428bca;
  font-size: 36px;
  font-weight: bold;
}

.pre-main {
  padding: 10px;
  padding-bottom: 30px;
}

.pre-main__figure {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pre-main__h {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.green-hr {
  width: 100%;
  border-color: #5CB85C;
}

.about-registration {
  padding: 20px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about-registration__h {
  color: #428bca;
  font-size: 18px;
}

.about {
  width: 40%;
  padding: 10px;
  margin: 10px;
  margin-right: 5%;
}

.about__p {
  font-size: 14px;
  line-height: 18px;
}

.registration {
  width: 40%;
  margin: 10px;
  margin-left: 5%;
  padding: 10px;
}

.registration__h,
.registration__h5 {
  text-align: center;
}

.registration__h5 {
  width: 50%;
  margin: 10px auto;
  color: #555555;
  font-size: 14px;
  line-height: 18px;
}

.registration__label {
  font-weight: normal;
  color: #333333;
  margin: 5px;
}

.registration__form_field {
  margin-bottom: 20px;
}

.registration__submit {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .form_filters .container_row input,
  .form_filters .container_row select {
    -webkit-flex-basis: 100% !important;
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    margin-top: 10px !important;
  }

  .form_filters .container_row label {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  .category-list__onecategory {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: -moz-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }
}

@media screen and (max-width: 800px) {
  .form_filters .container_row button.btn {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  header.d-header nav.d-nav-menu {
    display: none;
  }

  header.d-header nav.hamburger {
    display: block;
  }

  .category-list__onecategory {
    width: -webkit-calc(50% - 30px);
    width: -moz-calc(50% - 30px);
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 600px) {
  .small_window form {
    display: block;
    max-height: none;
  }

  .table_output button.buttons_func,
  .table_output .buttons_func {
    width: 70%;
    margin: 10px auto;
  }

  .notification__action {
    width: 70%;
    margin: 10px auto;
  }

  .main-content__link,
  .main-content__button {
    width: 70%;
    margin: 10px auto;
  }

  .modal__content {
    padding: 5px;
  }
}

@media screen and (max-width: 580px) {
  .table_output .for-pagination {
    display: block;
  }

  .table_output .for-pagination .pagination-pages {
    margin-left: 0;
  }

  .table_output .for-pagination .quantity-per-page {
    margin-left: 0;
  }

  .for-pagination {
    display: block;
  }

  .for-pagination .pagination-pages {
    margin-left: 0;
  }

  .for-pagination .quantity-per-page {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
    font-weight: bold;
  }

  .category-list__onecategory {
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 520px) {
  .d-search {
    -webkit-flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }
}

@media screen and (max-width: 500px) {
  .form_filters .container_row {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .form_filters .container_row.row2 {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .d-search {
    display: none;
  }

  header.d-header nav.hamburger i.fa {
    font-size: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */
