.media(@brk_point; @block){
	@media screen and (max-width: @brk_point){
		@block();
	}
}

.media-range(@brk1; @brk2; @block){
	@media screen and (min-width: @brk1) and (max-width: @brk2){
		@block();
	}
}

.prop-element(@w:16; @h:9){
	height: auto;
	& > div {
		padding-top: (@h/@w)*100%;
		position: relative;
		height: 0;
		width: 100%;
		z-index: 1;
		iframe{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}

.prop-div(@w:16; @h:9){
	height: auto;
	& > div {
		padding-top: (@h/@w)*100%;
		position: relative;
		height: 0;
		width: 100%;
		z-index: 1;
		div{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}

.width(@n){
	width: (100% / 12)*@n;
}

.font-size(@px){
	font-size: @px/16rem;
}

.border(@weight:1px;@type:solid;@color:#000){
	border: @weight @type @color;
}

.partly-rectangle-left(@height; @weight-bord; @type; @color; @width:100%){
	border: @weight-bord type transparent;
	border-right: @weight-bord @type @color;
	position: relative;
		&:before{
			content: '';
			display: block;
			border: @weight-bord @type @color;
			border-bottom: transparent;
			width: @width;
			height: @height;
			position: absolute;
			top: -@height;
			left: -@weight-bord;

		}
		&:after{
			content: '';
			display: block;
			border: @weight-bord @type @color;
			border-top: transparent;
			width: @width;
			height: @height;
			position: absolute;
			bottom: -@height;
			left: -@weight-bord;

		}
		@bord-width: @width;
		@bord-dif: @bord-width - 100%;
			&:before, &:after{
				left: -@bord-dif !important;
				margin-left: -@weight-bord;
			}
}

.partly-rectangle-right(@height; @weight-bord; @type; @color){
	border: @weight-bord type transparent;
	border-left: @weight-bord @type @color;
	position: relative;
		&:before{
			content: '';
			display: block;
			border: @weight-bord @type @color;
			border-bottom: transparent;
			width: 100%;
			height: @height;
			position: absolute;
			top: -@height;
			right: -@weight-bord;

		}
		&:after{
			content: '';
			display: block;
			border: @weight-bord @type @color;
			border-top: transparent;
			width: 100%;
			height: @height;
			position: absolute;
			bottom: -@height;
			right: -@weight-bord;

		}
}
.reset-mine(){
	.reset-input();
	a{
		text-decoration: none;
	}
}
.reset-input(){
	display: block;
	outline: none;
	border: none;
	box-shadow: none;
	background-color: transparent;
}


.pseudo-block(@width:100%; @content){
	content: '';
	position: absolute;
	display: block;
	width: @width;
	@content();
}

.button(){
	text-transform: uppercase;
	background-color: transparent;
	color: #000;
	padding: 8px 40px;
	border: 1px solid #000;
	cursor: pointer;
	transition: background .5s;
		&:hover{
			background-color: #000;
			color: #fff;
			}

}

.layer-light(@opacity:.6; @z: -1){
	position: relative;
	z-index: 2;
	&:after{
	.pseudo-block(100%; {
		top: 0;
		bottom:0;
		left:0;
		background-color: rgba(255, 255, 255, @opacity);
		z-index: @z;
		});
	}
}

.layer-dark(@opacity:.6; @z:-1){
	position: relative;
	&:after{
	.pseudo-block(100%;{
		top: 0;
		bottom:0;
		left:0;
		background-color: rgba(0,0,0, @opacity);
		z-index: @z;
		});
	}
}


.border(@color){
	border: 1px solid @color;
	border-top-width: 4px;
	border-bottom-width: 2px;
	border-radius: 5px;
}

.flex-sb-c-w(){
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
