@color_main : #5CB85C;
@color_main_rgb: rgba(92, 184, 92, 0.3);
@color_main_darken: #069F35;
@color_second: #553CF0;
@color_second_rgb: rgba(85, 60, 240, 0.3);
@color_blue: #5bc0de;
@color_text : #000;
@color_warn: #FA9090;
@grey: #ccc;
@dark: #888787;
@color_warning: #ec971f;
@color_user_border: #E6E6E4;
@color_bg_success: #B3FEBA;
@color_bg_warning: #F9F498;
@color_bg_slider_future: #EDECEC;
@color_bg_slider_not_active: #CCCCCC;

@color_pre_blue: #428bca; 


@table_head: 95px;
@width_select: 52%;
@width_input: 30%;
@sizeStars: 20px;
@size_checkboxes: 15px;

@width_tree: 97%;
@margin_child: 100% - @width_tree;