<footer class="footer-page">
	<div class="d-copyright-container">
		<p class="d-copyright-text">
			&copy; 2017 Достаток. Все права защищены
		</p>
	</div>
</footer>

<script src="../../js/Plugins/includeHTML.js"></script>
</body>
</html>