<body class="main_user_page auth_yes">
	
<header class="d-header box-shadow-bottom">
	<div class="container">
		<div class="d-logo d-button">
			<!--<img src="" alt="Logotype">-->
			<a href="agent_glavnaya.html" class="logotype__a">ADMIN</a>
		</div>
		<div class="d-search">
			<form action="" class="form-group">
				<input type="text" class="form-control" placeholder="поиск" name="search">
				<button class="d-icon btn btn-default">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
		<nav class="d-nav-menu">
			<div class="d-reg d-button">
				<a href="agent_glavnaya.html" class="td-n">
					<i class="fa fa-user"></i>
				</a>
			</div>
		</nav>
		<nav class="hamburger">
			<i class="fa fa-bars"></i>
		</nav>
	</div>
</header>