<nav class="user-menu">
	<li class="main-menu__li">
		<a href="admin_moi_soobscheniya.html" class="main-menu__link link1 btn">Сообщения</a>
	</li>
	<li class="main-menu__li">
		<a href="admin_moi_uvedomleniya.html" class="main-menu__link link1 btn">Уведомления</a>
	</li>
	<li class="active_link">
		<a href="category-and-template.html" class="main-menu__link link1 btn">Категории и шаблоны</a>
		<ul class="main-menu main-menu_submenu">
			<li class="main-menu__li main-menu__li_sub">
				<a href="template-sozdat
		.html" class="main-menu__link main-menu__link_sub btn">Шаблоны</a>
			</li>
		</ul>
	</li>
	<li class="main-menu__li">
		<a href="user-upravlenie.html" class="main-menu__link link1 btn">Управление пользователями</a>
	</li>
	<li class="main-menu__li">
		<a href="admin_statistic.html" class="main-menu__link link1 btn">Статистика</a>
		<ul class="main-menu main-menu_submenu">
			<li class="main-menu__li main-menu__li_sub">
				<a href="https://www.google.com/analytics/" class="main-menu__link main-menu__link_sub btn">Google Analytics</a>
			</li>
		</ul>
	</li>
	<li class="main-menu__li">
		
	</li>
	<li class="main-menu__li">
		
	</li>
	<li class="main-menu__li">
		
	</li>
</nav>