@import  'libs/lib.less';
@import  'libs/var.less';
@import  'libs/smart-grid.less';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


// Main Settings

a{
	text-decoration: none;
}

nav{
	li{
		list-style: none;
	}
}
.wrapper{
	.wrapper();
}


h1{
	.font-size(48);
	.md(font-size; 40px);
	.sm(font-size; 30px);
	.xs(font-size; 24px);	
}
h2{
	.font-size(36);
	.md(font-size; 30px);
	.sm(font-size; 24px);
	.xs(font-size; 20px);
}
h3{
	.font-size(30);
	.md(font-size; 24px);
	.xs(font-size; 20px);
}
h4{
	.font-size(24);
	.xs(font-size; 20px);
}
h5{
	.font-size(20);
	.xs(font-size; 18px);
}
h6{
	.font-size(18);
	.xs-block({
		font-size: 16px;
		font-weight: bold;
	});
}
p{
	font-size: 16px;
}

*{
	box-sizing: border-box;
}

input, select, label{
	cursor: pointer;
}

//General classes

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//position: relative;
	//padding-bottom: 310px;
	color: #000;
	max-width: 1920px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font: 16px/1.5rem 'Open Sans', Arial, 'Times New Roman', Helvetica, sans-serif;
	img{
		max-width: 100%;
		height: auto;
	}
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background-color: @color_main;
}

/* Atomic */
.green{
	color: @color_main;
}

.black{
	color: #000;
}

.white{
	color: #fff;
}

.yellow{
	color: @color_warning;
}

.stars-rate{
	color: @color_warning !important;
}

.overflow-a{
	overflow: auto;
}

.fa.fa-check{
	color: @color_main;
}

.fa.fa-thumbs-down{
	color: @color_warn;

}

.fa.fa-handshake-o{
	color: #EE960B;
}

.fa.fa-plus-circle{
	color: @color_main;
}

.fa.fa-minus-circle{
	color: @color_warn;
}

.fa.fa-bank{
	color: @color_blue;
}

.fa.fa-money{
	color: @color_main;
}

.fa.fa-balance-scale{
	color: @color_warning;
}

.fa.fa-line-chart{
	color: @color_main;
}


i.fa{
	margin: 0 5px;
}

.d-n{
	display: none !important;
}

.d-b{
	display: block;
}

.d-ib{
	display: inline-block;
}

.opacity{
	opacity: 0 !important;
}

.cur-p{
	cursor: pointer;
}

.td-u{
	text-decoration: underline;
}

.td-n{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.ta-c{
	text-align: center;
}

.ta-l{
	text-align: left;
}

.ta-r{
	text-align: right;
}

.no-opacity{
	opacity: 0;
}

.bought{
	background-color: rgba(88, 228, 18, 0.5);
}

.border-system{
	.border(@color_second);
	&-funcs{
		.border(@color_main);
	}
}

.flex-set{
	.flex-sb-c-w();
}

.rotation{
	transform: rotate(180deg);
}

.bg-success{
	background-color: @color_bg_success;
}

.bg-warning{
	background-color: @color_bg_warning;
}



/* Old styles - needed to refact*/

a{
	color: #000;
	text-decoration: none;
	&.logotype__a:hover{
		text-decoration: none;
		color: #000;
	}
}


.d-header{
	height: 65px;
}

.d-button{
	cursor: pointer;
}

.d-header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;


}

.form-group{
	margin-bottom: 0;
}

.d-search{
	position: relative;
	flex-basis: 350px;
	.media(520px; {
		flex-basis: 200px;
	});
	.media(360px; {
		display: none;
	});
}

.d-search button{
	width: 39px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.d-search input{
	padding-right: 39px;
}

nav.d-nav-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav.d-nav-menu .d-reg{
	margin-right: 20px;
	position: relative;
	&:after{
		display: block;
		content: '99+';
		color: red;
		position: absolute;
		font-size: 12px;
		top: -12px;
		left: 20px;
		font-weight: bold;
	}
}

nav.d-nav-menu span{
	margin-left: 10px;
}

nav.d-nav-menu i.fa{
	font-size: 20px;
}

section.d-slider{
	padding: 100px 10px;
}

.d-slider .container{
	padding: 0 30px;
	position: relative;
}

.d-slider i.fa{
	font-size: 50px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}

.d-slider i.fa.fa-angle-left{
	left: 20px;
	z-index: 5000;
}

.d-slider i.fa.fa-angle-right{
	right: -10px;
	z-index: 5000;
}


.d-slider .d-slide{
	text-align: center;
	padding: 10px;
	//border: 1px solid #777;
	border-radius: 4px;
	height: 100px;
	cursor: pointer;
	margin-left: 30px;
	background-color: @color_bg_slider_not_active;
	transition: background-color 0.3s;
}

.d-slider .d-slide_future{
	background-color: @color_bg_slider_future;
	color: #B0B0B0;
}

.d-slide_future:after{
	content: 'Скоро появится';
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

.slick-current{
	background-color: @color_warning !important;
	color: #fff !important;
	&.d-slide_future{
		background-color: #777 !important;
	}
}

.main-buttons .container{
	text-align: center;
	//padding-bottom: 30px;
}

.main-buttons .btn{
	font-size: 32px;
	padding: 20px 50px;
	width: 300px;
}

.main-buttons .btn.btn-success{
	margin-right: 32px;
}

.box-shadow-bottom{
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,.3);
}

footer.footer-page{
	/*position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	//height: 310px;
	//margin-top: auto;
	padding-top: 30px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,.3);
}

.d-copyright-container{
	padding: 20px 0;
	text-align: center;
}

.d-copyright-container p{
	margin: 0;
}

.d-faq{
	flex-grow: 1;
}

.d-q{
	margin: 5px 15px;
}

.prefooter .container{
	display: flex;
	justify-content: space-between;
}

.prefooter .d-logo{
	padding: 0 30px;
}

.d-faq-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	height: 170px;
}

.d-faq-container p{
	width: 300px;
	background-color: #fff;
}

/* End old styles */
// Header, global style, auth_no

header.d-header{
	.d-logo{
		a{
			display: block;
			width: 50px;
			position: relative;
			bottom: 8px;
			transition: transform 0.5s;
			&:hover{
				transform: rotate(360deg) scale(2) translateY(20px);
			}
		}
		
	}
	.dohod{
		font-size: 12px;
		margin-top: 3px;
		i.fa{
			position: relative;
			top: 2px;
		}
		span{
			font-weight: bold;
		}
	}
	nav.d-nav-menu{
		text-align: center;
		.media(720px; {
			display: none;
		});
	}
	nav.hamburger{
		display: none;
		position: relative;
		&:after{
			display: block;
			content: '99+';
			color: red;
			position: absolute;
			font-size: 12px;
			top: -10px;
			right: -10px;
			font-weight: bold;
		}
		i.fa{
			color: @color_second;
			cursor: pointer;
			font-size: 20px;
			transition: color .5s;
			&:hover{
				color: @color_main;
			}
			.media(360px; {
				font-size: 25px;
			});
		}
		.media(720px; {
			display: block;
		});
	}
}

.index_links{
	padding: 30px 10px;
}

// 
.main_screen{
	padding: 0px 0 50px;

	h3{
		padding: 20px 0;
	}
}

// Окно регистрации/авторизации

.small_window{
	max-width: 800px;
	margin: 0 auto;
	@padding-side: 50px;
	padding-left: @padding-side;
	padding-right: @padding-side;
	form{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: space-between;
		max-height: 400px;
		.forms{
			margin: 20px 0;
			max-width: 400px;
			label{
				color: @color_text;
				margin-bottom: 10px;
				cursor: pointer;
			}
		}
		button{
			margin: 20px 10px 20px 0;
		}
		a + a{
			margin-left: 10px;
		}
		.media(600px; {
			display: block;
			max-height: none;
		});
		&.reg{
			input[type="checkbox"]{
				position: relative;
				z-index: 1;
				top: 7px;
				margin-left: 5px;
				width: 20px;
				height: 20px;
			}
			span.td-u{
				margin-top: 5px;
			}
			button{
				margin-top: 45px;
			}
		}
	}
}

// Table of search results, global styles
.table_output{
	padding: 10px;
	&.table_in_cart{
		max-width: 90%;
		margin: 20px auto;
		footer{
			margin-top: 20px;
		}
	}
	&.table_stol_order{
		table{
			thead{
				height: 100px !important;
			}
			height: 100px;
			tbody{
				tr:hover{
					background-color: #f9f9f9 !important;
					color: #000 !important;
				}
			}
		}
		.table_container{
			padding-top: 30px;
		}
	}
	p{
		color: @color_main_darken;
		&.white{
			color: #000;
		}
		span{
			font-weight: bold;
		}
	}
		header.table_output__header{
			display: inline-block;
			vertical-align: middle;
		}
		button.buttons_func, .buttons_func{
			display: inline-block;
			vertical-align: middle;
			margin-left: 10%;
			margin-top: 7px;
			margin-bottom: 10px;
			min-width: 170px;
			max-width: 70%;
			.media(600px; {
				width: 70%;
				margin: 10px auto;
			});
			i.fa{
				margin-left: 5px;
			}
		}
	.table_container{
		padding-top: 30px;
		overflow: auto;
		max-height: 400px;
		//padding-top: @table_head + 25px;
		-ms-overflow-style: none;
		//overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar{
			width: 0;
		}
		thead{
			//display: block;
			//position: fixed;
			//margin-top: -@table_head;
			height: @table_head;
			background-color: rgba(92, 184, 107, 0.7);
			color: #fff;
			z-index: 1000;
			label.d-b input{
				position: relative;
				top: 2px;
				left: 5px;
			}
		}

		table{
			.form-control{
				margin-bottom: 5px;
			}
			font-size: 14px;
			button{
				&.show_contacts{
					margin-top: 10px;
				}
			}
			td{
				label{
					font-weight: normal;
					cursor: pointer;
				}
				span.dekor{
					display: inline-block;
					vertical-align: middle;
					width: 15px;
					height: 15px;
					background-color: #9C2B2B;
					margin-left: 5px;
				}
				padding: 5px;
				min-width: 160px;
				//max-width: 160px;
				overflow: auto;
				vertical-align: middle !important;
				text-align: center;
				input[placeholder]{
					width: 40%;
					float: left;
				}
				input + input{
					margin-left: 20%;
				}
			}
			tbody{
				tr:hover{
					background-color: @grey;
					color: #000;
					cursor: pointer;
					margin: 5px;
				}
			}

		}
	}
	.for-pagination{
		display: flex;
		justify-content: space-between;
		text-align: center;
		.pagination{
			margin: 10px 0;
		}
		.media(580px; {
			display: block;
		});
		.pagination-pages{
			margin-left: 30px;
			.media(580px; {
				margin-left: 0;
			});
		}
		.quantity-per-page{
			margin-right: 30px;
			.media(580px; {
				margin-left: 0;
			});
		}
		h4{
			color: @color_main;
		}
		ul{
			display: inline-block;
		}
	}
	.hide_me{
		overflow: hidden;
		min-width: auto !important;
		width: 15px !important;
		font-size: 0;
		background-color: #777;
		& > * {
			display: none;
		}
		label:last-child{
			display: block !important;
			.fa{
				font-size: 10px;
				display: block !important;
			}
		}
		
	}
}

.order_table__header{
	padding: 30px 10px 0;
	margin-bottom: 0 !important;
}

.table_more_info{
	.table_container{
		padding: 0 10px 10px !important;
		margin-bottom: 20px;
	}
	font-size: 14px;
	thead{
		background-color: rgba(92, 184, 107, 0.7);
		color: #fff;
		tr{
			height: @table_head;
		}
	}
	tr{
		height: 50px;
	}
}

.table-general {
	padding: 30px 10px;
	overflow: auto;
	max-height: 400px;
	-ms-overflow-style: none;

	&_smallpadding{
		padding: 10px;
	}

	&__table{
		font-size: 14px;
		font-weight: normal;
	}

	&__thead{
		background-color: rgba(92, 184, 107, 0.7);
		color: #fff;
	}


	&__tr{
		&_head{
			height: @table_head;
		}
	}

	&__td{
		vertical-align: middle !important;
		text-align: center !important;
	}

	&__forms{
		display: block;
		margin: 5px auto;
		min-width: 160px;
		max-width: 95%;
	}
}

.for-pagination{
	display: flex;
	justify-content: space-between;
	text-align: center;
	.pagination{
		margin: 10px 0;
	}
	.media(580px; {
		display: block;
	});
	.pagination-pages{
		margin-left: 30px;
		.media(580px; {
			margin-left: 0;
		});
	}
	.quantity-per-page{
		margin-right: 30px;
		.media(580px; {
			margin-left: 0;
		});
	}
	h4{
		color: @color_main;
	}
	ul{
		display: inline-block;
	}
}
// Global for search/buy/sell form
.main-window{
	margin: 10px 0;
	padding: 30px 0;
	.container{
		.screen_info{
			max-width: 800px;
			margin: 0 auto;
			@padding-side: 20px;
			padding-left: @padding-side;
			padding-right: @padding-side;
			text-align: center;
			form{
				display: inline-block;
				text-align: left;
				padding: 10px 5px;
				h3{
					color: @color_text;
				}
				.forms{
					margin: 20px 0;
					max-width: 400px;
					label{
						color: @color_text;
						margin-bottom: 10px;
						cursor: pointer;
					}
				}
				button{
					margin: 20px 10px 20px 0;
				}
				a + a{
					margin-left: 10px;
				}
			}
		}
	}
}


.form_filters{
	padding: 50px 5%;
	text-align: justify;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.forms.first_option{
		flex-grow: 1;
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		.first_option__labels{
			width: 45%;
			.add_store{
				position: relative;
				bottom: 3px;
				margin-left: 20px;
			}
		}
		select.form-control{
			width: auto;
			margin-left: 10px;
		}
	}
	.container_row{
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px 20px;
		.media(500px; {
			flex-basis: 100%;
		});
		@width_select: 52%;
		@width_input: 30%;
		button.btn{
			min-width: @width_input;
			margin-left: 20%;
			margin-top: auto;
			width: 60%;
			.media(800px; {
				margin-left: 0;
				width: 100%;
			});
		}
		.forms{
			.flex-sb-c-w();
			&.two_inputs input{
				flex-basis: @width_input;
			}
			& + .forms{
				margin-top: 20px;
			}
		}
		input, select{
			display: inline-block;
			flex-shrink: 0;
			cursor: pointer;
			.media(1000px; {
				flex-basis: 100% !important;
				margin-top: 10px !important;
			});
		}
		label{
			cursor: pointer;
			display: inline;
			text-align: left;
			line-height: 20px;
			max-width: 42%;
			.media(1000px; {
				max-width: 100%;
			});
		}
		input{
			flex-basis: @width_select;
			&[placeholder="От"]{
				margin-left: auto;
				margin-right: 10px;
			}
		}
		input[min]{
			flex-basis: @width_select;
		}
		select{
			flex-basis: @width_select;
		}
		label.filters_location + select{
			margin-bottom: 10px;
			& + select{
				margin-bottom: 10px;
				margin-left: auto;
				& + select{
					margin-left: auto;
				}
			}
		}
		&.row2{
			margin-left: 5%;
			.media(500px; {
				margin-left: 0;
			});
		}
	}
}


// User cabinets
.work-space{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	nav.user-menu{
		padding: 20px 40px 20px 0;
		border-right: 1px solid @color_user_border;
		-webkit-padding-start: 0 !important;
		flex-basis: 20%;
		min-width: 222px;
		a.logout{
			margin: 30px 5px;
			color: #000;
			transition: color .5s;
			&:hover{
				color: @color_second;
			}
		}
		//display: none;
		li{
			width: 100%;
			position: relative;
			&.active_menu, &:hover{
				&:before, &:after{
					display: block;
				}
				background-color: @color_second;
				a{
					color: #fff;
				}

			}
			&:before, &:after{
				content: '';
				display: none;
				position: absolute;
				width: 40px;
				background-color: @color_second;
				height: 100%;
				top: 0;
			}
			&:before{
				left: -40px;
			}
			&:after{
				right: -40px;
			}
			& + li{
				margin-top: 20px;
			}
			a{
				text-align: left;
				width: 100%;
				display: block;
				font-size: 16px;
				transition: background-color .5s;
				&.btn.btn-default{
					border: none;
					border-radius: 0;
					/*&:hover{
						color: #fff;
						background-color: @color_second;
					}*/
				}
			}
			/*a.active_menu{
				color: #fff;
				background-color: @color_second;
			}*/
		}
	}
	main.main-content{
		padding: 30px 20px;
		width: 80%;
		flex-grow: 1;
		.d-slider i.fa.fa-angle{
			&-left{
				left: 50px;
			}
			&-right{
				right: 20px;
			}
		}
		.container{
			width: 100% !important;
			padding: 0 50px;
		}
	}
}

.text_information_block{
	padding: 20px;
	max-width: 90%;
	margin: 10px auto;
	border-radius: 5px;
}


.balance_table{
	margin-top: 30px;
	overflow: auto;
	table{
		vertical-align: middle;
		text-align: center;
		color: white;
	}
	thead{
		background-color: @color_main;
		vertical-align: middle;
		opacity: 0.8;
		text-align: center;
		font-size: 21px;
		th{
			text-align: center;
		}
	}
	tr{
		height: 50px;
	}
	td{
		color: #000;
		font-size: 21px;
	}

	&.balance_table_long{
		th{
			min-width: 160px;
			font-size: 18px;			
		}
	}
}

.table__thead{
	thead{
		background-color: @color_main;
		opacity: 0.8;
		font-size: 21px;
	}
	th{
		text-align: center;
	}
	tr{
		height: 30px;
	}
}


.statistic{
	header{
		//display: block;
	}
	form{
		.flex-sb-c-w();
		button{
			margin: 20px;
			min-width: auto !important;
		}
		select{
			min-width: 150px;
			width: auto;
			margin-left: 10px;
		}
	}
}


.screen_info{
	&.status.stat{
		margin-top: 30px;
		h3, p{
			display: block;
		}
	}
	&.settings, &.status{
		padding: 30px 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		section.section_settings, section.info_section{
			padding: 20px;
			flex-basis: 50%;
			min-width: 300px;
			max-width: 50%;
			flex-grow: 1;
		}
	}
	&.settings{
		section.section_settings{
			h2{
				margin-bottom: 20px;
				cursor: pointer;
				font-weight: bold;
				i.fa{
					transition: transform .5s;
				}
			}
			hr{
				border-top-width: 2px;
				border-top-color: @dark;
			}

			&.set_balance{
				label{
					display: block;
					margin-left: 5px;
					input{
						margin-right: 5px;
					}
				}
			}

			.forms{
				line-height: 2.4rem;
				& + .forms{
					margin-top: 20px;

				}
				button{
					min-width: 40%;
					//margin-left: 5%;
					& + button{
						margin-left: 10%;
					}
				}
				input[type=checkbox], input[type=radio]{
					display: inline;
					margin-left: 5px;
					margin-top: 10px;
					position: relative;
					top: 3px;
					z-index: 5000;
					width: @size_checkboxes;
					height: @size_checkboxes;
				}
			}
			button{
				margin-top: 20px;
			}
		}
	}
	&.status{
		text-align: center;
		h3{
			font-weight: bold;
			display: inline-block;
		}
		p{
			display: inline-block;
		}
		section.your_status{
			& > * {
				display: block;
			}
			h3{
				text-align: center;
			}

			p{
				margin: 10px auto;
				border: 1px solid @color_second;
				padding: 5px;
				border-radius: 4px;
				&.status__current{
					background-color: @color_second;
					color: #fff;
				}
				&.status__manager{
					width: 50%;
				}
			}
		}
		section.border-system-funcs{
			flex-grow: 0;
			flex-basis: 50%;
			margin: 20px auto;
			h2{
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 20px;
				margin-left: 10px;
			}
			button{
				margin: 10px 10px;
			}
			.buttons{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				button{
					min-width: 40%;
					& + button{
						margin-left: 10px;
					}
				}
			}
		}
	}
}




footer.footer-page{
	.container{
		overflow: auto;
	}
}

/* Agent cabinets */

.my-notifications{

}

.notification_not_empty{
	position: relative;
	&:after{
		display: block;
		content: '99+';
		color: red;
		position: absolute;
		font-size: 12px;
		top: 3px;
		left: -10px;
		font-weight: bold;
	}
}

.notification{
	padding: 25px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	&:hover &__icon_close{
		opacity: 1;
	}

	&__text{
		margin: 10px 20px;
		width: 40%;
	}

	&__h{
		margin: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	&__icon_close{
		opacity: 0;
		transition: opacity .5s;
		position: absolute;
		width: 15px;
		height: 15px;
		top: 5px;
		right: 5px;
		color: @color_second;
		cursor: pointer;
	}

	&__action{
		display: block;
		margin: 10px auto;
		min-width: 170px;
		width: 200px;
		max-width: 70%;
		.media(600px; {
			width: 70%;
			margin: 10px auto;
		});
	}
}


.main-content{

	&__header{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 30px;

		&_nomargin{
			margin-bottom: 0;
		}


		&_bordered{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 30px 20px;
		}
	}

	&__p{
		margin-top: 20px;
	}

	&__h{
		margin: 0;
	}

	&__link{
		margin: 10px;
	}

	&__form{
		&_inline{
			width: auto;
			display: inline-block;
		}
		width: 100%;
		margin-top: 20px;
	}

	&__input{
		display: inline-block;
		&_select{
			display: inline-block;
			width: 160px;
			margin-left: 20px;
		}
	}

	&__link, &__button{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 30px;
		min-width: 170px;
		max-width: 70%;
		.media(600px; {
			width: 70%;
			margin: 10px auto;
		});
		i.fa{
			margin-left: 5px;
		}
	}

	&__footer{
		margin-top: 20px;
	}

	&__block-button{
		padding: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		button{
			min-width: 120px;
			& + button{
				margin-left: 50px;
			}
		}
	}
}

.flex-wrapper{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.single-block {
	padding: 20px 10px;
	width: 50%;
	margin: 0 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&_full-width {
		width: 60%;
		padding: 20px 10px;

		.single-block__h2{
			margin-left: 25%;
			text-align: left;
		}

		button {
			display: block;
			width: 50%;
			margin: 20px auto;
		}
	}

	&__h2{
		text-align: center;
	}

	&__p{
		width: 100%;
		min-height: 75px;
		margin: 10px;
	}

	&__button{
		margin-top: auto;
		max-width: 75%;
	}
}

.form-search {
	
	position: relative;
	z-index: 1;

	width: 300px;
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 170px;
	max-width: 70%;

	&__input{
		padding-right: 45px;
	}

	&__submit {
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		text-align: center;
	}

	i.fa.fa-search {
		margin: 0;
	}

}



/*  */

// Modal windows

section.modal{
	background-color: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5000;
	padding: 0 5%;
}

.modal__main{
	//max-height: 98vh !important;
	position: relative;
	display: flex;
	padding: 40px 5px;
	max-width: 90%;
	z-index: 5001;
	background-color: #fff;

	&.full{
		width: 95%;
		height: 100%;
		padding: 5px;
	}
}

i.fa.closer{
	position: fixed;
	display: block;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #fff;
	transition: color .5s;
	z-index: 5002;
	&:hover{
		color: @color_second;
	}
}

.modal__content{
	overflow-y: scroll;
	max-height: 100vh !important;
	//max-width: 95%;
	display: none;
	padding: 20px 10px;
	.media(600px; {
		padding: 5px;
	});

	&_target{
		display: none;
	}

	&.active{
		display: block;
	}
	table{
		margin-top: 10px;
	}
	&.vote{
		width: 600px;
		text-align: center;
		max-width: 90%;
		menu{
			display: flex;
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
		}
		button{
			//width: auto;
			margin-top: 10px;
		}

	}
	&.graph{
		width: 95%;
		//min-width: 400px;
	}
	&.rating{
		width: 500px;
		h4{
			font-weight: bold;
			display: inline-block;
			margin-bottom: 20px;
		}
		table{
			td{
				vertical-align: middle !important;
				text-align: center;
			}
		}
	}
	&.store{
		overflow: auto;
		h3{
			margin-bottom: 30px;
		}
		form{
			.forms{
				& + .forms{
					margin-top: 20px;
				}
				button{
					width: 70%;
					max-width: 90%;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	&.filters{
		height: 100vh;
		form{
			overflow-y: scroll !important;
		}
	}
	&.pay_balance, &.show_history_pay{
		min-width: 90%;
		max-width: 1000px;
		.form-control{
			margin-top: 10px;
		}
		button{
			margin-top: 30px;
		}
	}
	&.more_contacts{
		h3{
			margin-bottom: 20px;
		}
		ul{
			margin-top: 10px;
			a:hover{
				color: @color_second;
			}
			li{
				&:hover{
					color: @color_second;
				}
				& + li{
					margin-top: 10px;
				}
				list-style: none;
			}
		}
	}
	&.report{
		header{
			margin-top: -25px;
		}
		button{

		}
		h3{
			margin-bottom: 20px;
		}
		form{
			max-height: 500px;
			overflow: auto;
			label{
				display: block;
				& + label{
					margin-top: 10px;
				}
				&:last-child{
					margin-bottom: 10px;
				}
			}
			input, select{
				width: auto;
				height: auto;
				margin-right: 5px;
				display: inline-block;
			}
			textarea{
				margin: 10px 0 20px;
			}
			.textarea_good{
				margin-top: 20px;
			}
			.forms{
				& + .forms{
					margin-top: 20px;
				}
				label.form-label{
					width: 170px;
				}
				.flex-sb-c-w();
				.radio-group{
					margin-right: 5px;
					display: flex;
					justify-content: space-between;
					flex-grow: 1;
					max-width: 115px;
					padding-left: 5px;
					label{
						i.fa{
							margin: 0;
							z-index: 5000;
							transition: color .3s;
							font-size: @sizeStars;
						}
						position: relative;
						width: @sizeStars;
						height: @sizeStars;
						& + label{
							margin: 0;
						}
						input{
							width: @sizeStars;
							height: @sizeStars;
							z-index: 5001;
							&:checked + i.fa.fa-star, &:hover + i.fa.fa-star{
								color: @color_warning;
							}
							&, i{
								margin: 0 !important;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								position: absolute;
								height: 100%;
							}
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

.text-abuse{
	margin-top: 20px;
	&__container{
		max-height: 300px;
		overflow: auto;
		margin-bottom: 20px;
	}
	&__article{
		margin-top: 10px;
		color: #000;
	}

	&__p{
		&_text{
			margin-bottom: 10px !important;
		}
	}
}

.new-message{
	width: 600px;
	max-width: 95%;

	&__field{
		margin-top: 20px;
	}

	&__input{
		&_select{
			margin-top: 10px;
		}
	}

	&__label{
		margin-bottom: 5px;
	}
}

.chat-message{
	width: 600px;
	max-width: 95%;
	margin: 0 auto;
	&__header{
		text-align: left;
	}

	&__span{
		font-weight: bold;
		color: #000;
	}

	&__container{
		width: 95%;
		margin: 20px auto 0;
		padding: 10px;
		overflow: auto;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__message{
		margin: 10px;
		padding: 10px 15px;
		width: 70%;
		border-radius: 4px;
		&_incoming{
			align-self: flex-start;
			background-color: @color_second_rgb;
			h4{
				text-align: left;
			}
		}

		&_sent{
			align-self: flex-end;
			background-color: @color_main_rgb;
			h4{
				text-align: right;
			}
		}
	}

	&__author{
		font-weight: bold;

		&_you{
			text-transform: uppercase;
			font-size: 20px;
		}
	}

	&__info{
		font-size: 13px;
		font-style: italic;
		text-align: right;
	}

	&__form{
		position: relative;
	}

	&__textfield{
		max-width: 100%;
		min-width: 100%;
		margin: 0 auto;
		resize: none;
		margin-top: 10px;
		padding-right: 80px;
	}

	&__button{
		width: 66px;
		height: 66px;
		font-size: 30px;
		border-radius: 50%;
		position: absolute;
		bottom: 10px;
		right: 10px;
		i.fa{
			position: relative;
			right: 5px;
		}
	}
}

textarea{
	resize: none;
}



/*      ------======| ADMIN |======------      */

.category-list{
	padding: 10px;
	.row-flex();
	&__onecategory{
		padding: 20px 10px;
		border-radius: 4px;
		margin-top: 15px;
		.col();
		.size(3);
		.size-md(4);
		.size-sm(6);
		.size-xs(12);
	}

	&__h{
		text-align: left;
		margin-bottom: 20px;
	}

	&__button{
		margin: 10px auto;
		display: block;
		width: 95%;
	}
}

.new-category{
	&__form{
		display: block !important;
	}
	&__field{
		margin: 20px 10px;
	}

	&__label{
		margin-bottom: 10px;
	}

	&__checkbox{
		width: 15px;
		height: 15px;
		position: relative;
		left: 5px;
		top: 3px;
	}

}

.template-create{
	padding: 10px;
	.row-flex();
}

.field-set_header{
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	select{
		width: auto;
		margin: 10px;
	}
}

.block-values{
	position: relative;
	z-index: 5;
	.fa.fa-times{
		opacity: 0;
		position: relative;
		z-index: 1;
		transition: opacity 0.5s;
		cursor: pointer;
	}

	&__ul{
		width: 95%;
		margin: 10px auto;
		border: 1px solid #777;
		border-radius: 4px;
		height: 300px;
		overflow: auto;
	}

	&__li{
		cursor: pointer;
		&:hover .fa.fa-times{
			color: red;
			opacity: 0.9;
			z-index: 10;
		}
	}

}

.change_mod_template{
	width: auto !important;
}

.template-name{
	display: flex;
	align-items: center;
	margin: 10px;
	&__label{
		width: 100%;
		margin: 10px;
	}

	&__input{
		margin: 10px;
	}
}

.mainf-menu{
	padding: 20px 40px;
	border-right: 1px solid @color_user_border;
	width: 20%;
	min-width: 222px;

	&__li{
		width: 100%;
		background-color: @color_second;
	}
}


.block-filters{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;

	&__h{
		margin: 10px;
	}

	&__control{
		width: auto;
		margin: 10px 10px 10px 30px;

		&_select{
			width: 15%;
			min-width: 100px;
		}
	}
}

.tree{
	padding: 20px 10px;
	overflow: auto;
	max-height: 1000px;

	&__person{
		width: 100%;
		cursor: pointer;

		&_child{
			width: @width_tree;
			margin-left: @margin_child;
			position: relative;
			margin-top: 10px;

			&:before, &:after{
				content: '';
				display: block;
				position: absolute;
				background-color: #777;
				left: -16px;
			}

			&:before{
				height: 30px;
				width: 1px;
				top: -10px;
			}

			&:after{
				width: 15px;
				height: 1px;
				top: 19px;
			}

		}
	}

	&__head{
		padding: 5px 10px;
		border: 1px solid #777;
		border-radius: 4px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__control{
		margin: 5px 10px;

		&_spoiler{

		}

		&_selector{
			margin-left: 5%;

		}

		&_user{
			margin-left: 10%;
		}

		&_funcs{
			margin-left: auto;
		}
	}

	&__inputs{
		&_checkbox{
			width: @size_checkboxes;
			height: @size_checkboxes;
		}
	}


	&__icon{
		margin: 5px 15px !important;
		font-size: 20px;
		cursor: pointer;
		transition: color 0.3s;
		&:hover{
			color: @color_second;
		}

		&_eye{
			color: #FEA735;
		}

		&_menu{
			color: #279405;
		}

		&_ban{
			color: #FD1711;
		}
	}

	&__span{
		margin-left: 10px;
		margin-right: 10px;
		
		&_status{
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}



.see-user{
	width: 100%;
	padding: 30px 10px;

	&__h{
		margin-left: 30px;
		margin-bottom: 20px;
		color: @color_second;
	}

	&__span{
		margin-left: 10px;
		margin-top: 10px;
		color: #000;
		font-weight: bold;
	}

	&__link{
		background-color: transparent;
		border: none;
		text-decoration: underline;
		color: @color_second;
	}

	&__more{
		margin-top: 20px;
		border-radius: 4px;
		padding: 10px;
		color: #000000;
		li{
			margin-top: 10px;
		}
		background-color: @color_bg_warning;
	}

	&__ul{
		margin-top: 10px;
	}

	&__li{
		margin-top: 10px;
	}

	&__label{


		&_header{
			
		}

		&_text{
			margin: 5px;
			color: #000000;
			font-weight: bold;
		}
	}

	&__button{
		display: block;
		width: 500px;
		margin: 20px auto;
		max-width: 90%;
	}
}

.scroll-controlls{
	overflow: auto;
	height: 90px;
}


.managment{
	
	&_main{
		text-align: center;
	}

	&__header{
		border-bottom: 1px solid #777;
		padding: 5px;
	}

	&__h{
		font-weight: bold;
		font-style: 25px;
		margin: 10px 0;
		&_h4{
			font-size: 22px;
			font-weight: bold;
		}
	}

	&__desc{
		padding: 20px 10px;
		font-size: 20px;
		line-height: 1.05;
	}

	&__article{
		margin: 20px;
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		min-width: 150px;
		max-width: 100%;
		&_header{
			width: 100%;
			text-align: left;
		}
	}

	&__button{
		margin: 10px;

		&_control{
			min-width: 200px;
		}

		&_active{
			padding: 6px 12px;
			border: 1px solid transparent !important;
			text-decoration: none !important;
			color: #fff !important;
			background-color: @color_second !important;
			&:hover, &:active, &:focus{
				background-color: @color_second !important;
			}
		}
		&_link{
			font-weight: bold;
			background-color: transparent;
			border: none;
			text-decoration: underline;
			color: @color_second;
			&:hover, &:active, &:focus{
				background-color: @color_second;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__line{
		border-color: #777;
	}

	
	&__field{
		margin: 20px 0;
	}

	&__label{
		margin: 10px;
		font-weight: bold;
	}

	&__input{
		margin: 10px;
		
		&_radio, &_checkbox{
			margin: 5px !important;
			border: none;
			display: inline-block;
			width: 20px;
			height: 20px;
			position: relative;
			top: 5px;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		@input-width: 90%;

		&_textarea{
			width: @input-width;
			padding: 5px 10px;
		}

		&_input{
			width: @input-width;
		}

		&_number{
			max-width: 200px !important;
		}

		&_select{
			display: inline-block;
			width: auto;
		}
		
	}

	&__footer{
		margin-top: 30px;
	}


	&_refs{
		padding-top: 20px;
	}
	
}

.select-list{
	padding: 10px;


	&__alert{
		text-align: left;
		width: 75%;
		margin: 10px auto;
		height: 200px;
		overflow: auto;
	}

	&__li{
		list-style: none;
		padding: 5px 10px;
		cursor: pointer;
		button{
			color: #000;
		}

		&_choose span, &_choose button, &:hover span, &:hover button{
			font-weight: bold;
			color: #fff;
			background-color: @color_second;
		}
	}

	&__span{
		padding: 5px 10px;
	}
}

.block{
	margin: 10px;
	padding: 5px;
}

.modal__content .managment_statistic .table_output__header{
	display: block !important;
}

/* PRE_REG */

.pre-head{
	padding: 20px 30px;

	//display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	@margin-between: 40px;

	&__img{
		margin-right: @margin-between/2;
	}

	&__h{
		margin-left: @margin-between/2;
		text-transform: uppercase;
		color: @color_pre_blue;
		font-size: 36px;
		font-weight: bold;
	}
}

.pre-main{
	padding: 10px;
	padding-bottom: 30px;

	&__figure{
		width: 400px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	&__img{
		
	}

	&__h{
		font-size: 18px;
		margin-top: 20px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.green-hr{
	width: 100%;
	border-color: @color_main;
}

.about-registration{
	padding: 20px 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__h{
		color: @color_pre_blue;
		font-size: 18px;
	}

}

.about{
	width: 40%;
	padding: 10px;
	margin: 10px;
	margin-right: @space-between / 2;

	&__p{
		font-size: 14px;
		line-height: 18px;
	}
}

@space-between: 10%;

.registration{
	width: 40%;
	margin: 10px;
	margin-left: @space-between / 2;
	padding: 10px;
	&__h, &__h5{
		text-align: center;
	}

	&__h5{
		width: 50%;
		margin: 10px auto;
		color: #555555;
		font-size: 14px;
		line-height: 18px;
	}

	&__label{
		font-weight: normal;
		color: #333333;
		margin: 5px;
	}

	&__form{

		&_field{
			margin-bottom: 20px;
		}
	}

	&__submit{
		padding: 10px;
		width: 100%;
		margin: 10px 0;
		text-transform: uppercase;
	}
}